.admin-dashboard {
  padding: 20px;
}

.pending-users-section, .all-courses-section {
  margin-bottom: 30px;
}

.user-list, .course-list {
  list-style: none;
  padding-left: 0;
}

.user-item, .course-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-surface);
  padding: 6px 12px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--color-primary-dark);
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-surface);
  padding: 6px 12px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: var(--color-secondary-dark);
}
